@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;550;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=MuseoModerno');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.logo{
  font-family: 'MuseoModerno', sans-serif !important;
  font-size: 22px !important;
  color: #108d00;
  font-weight: 900;
  text-decoration: none;
}

.s-main-container{
  padding: 15px 20px;
  
}
.s-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.s-container span{
  font-family: 'Lora', serif;
  font-weight: 550;
  font-size: 35px;
  color: rgb(48, 48, 48);
}
.s-cards{
  display: flex;
  gap: 40px;
  margin: 35px 0;
}
#js-btn1{
  display: flex;
  justify-content: space-between;
}
#js-btn2{
  display: flex;
  justify-content: space-between;
}
.s-cards button{
  border: 2px solid rgba(122, 122, 122,0.3);
  border-radius: 6px;
  width: 200px;
  height: 220px;
  padding: 20px 17px;
  background-color: white;
  text-align: start;
  
}
.s-cards button:hover{
  background-color: rgba(212, 212, 212, 0.2);
}
.s-cards p{
  font-family: 'Lora', serif !important;
  font-size: 22px;
  font-weight: 430;
  color: rgb(64, 64, 64);
}
.radio{
  font-size: 23px;
  color: rgb(117, 117, 117);
}
.btn-container i{
  font-size: 23px;
  color: rgb(79, 79, 79);
  margin-bottom: 23px;
}
.btn-container{
  margin-top: 15px;
}
.create-btn{
  width: 170px;
  height: 45px;
  background-color: #e2e2e2;
  border: none;
  color: rgb(107, 107, 107);
  font-size: 15px;
  border-radius: 23px;
  font-weight: 550;
  margin-bottom: 20px;
}
.have-account{
  font-size: 13px;
  font-weight: 500;
  color: rgb(63, 63, 63);
}
.have-account a{
  color: #108701;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}


.js-btn-style:focus,
.js-btn-style:active{
  animation: btnanimation 0.3s ease-in-out;
}
@keyframes btnanimation {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.95);
  }
  100%{
    transform: scale(1);
  }
}
